<div style="text-align: center;">
 
  <app-herovillain></app-herovillain>
  </div>
  <div class="super1">
    <img  src="/assets/super-1.png" width="200px" height="250px">Spiderman<p>12</p>
</div>
<div class="super2">
  <img src="/assets/super-2.png" width="200px" height="250px">Wonder<br> Women<p>30</p>
</div>
<div class="score">
  5-0
</div>
 <div class="super3">
  <img src="/assets/super-3.png" width="200px" height="250px">Captain<br>America<p>50</p>
</div>
<div class="super4">
  <img src="/assets/super-4.png" width="200px" height="250px">Gem Woman<p>12</p>
</div>
